/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');


/* Made changes after viewing solution for more efficiency in future, but nothing changed in the outcome vs my original code */


body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
  /* Centering is taken care of in .left .right */
}

.header {       /* Done correctly */
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  /* Padding can be included in header only and not on each class as it is all the same */
  padding: 8px;
}

.left .right {    /* Right and left can be included together as code is the same */
  display: flex;
  align-items: center; /* Items can be center aligned here instead of individually */
  /* No need for "space between spacing here, its in .header */
  gap: 16px; /* use gap here and elsewhere instead of adjusting margins */
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  /* Centering is taken care of in .left .right, use align-items instead of align-self for parent*/
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px; /* use gap here and elsewhere instead of adjusting margins */
  /* Centering is taken care of in .left .right, use align-items instead of align-self for parent*/
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
  /* Centering is taken care of in .left .right, use align-items instead of align-self for parent*/
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
  /* Centering is taken care of in .left .right, use align-items instead of align-self for parent*/
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
  /* Centering is taken care of in .left .right, use align-items instead of align-self for parent*/
}


